DATABASE_URL=""
REDIS_HOST="localhost"
REDIS_PORT=6379
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
NODE_ENV="development"
PORT=3000
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
BCRYPT_SALT_ROUNDS=12
WEB_ORIGIN="http://localhost:3001"
APP_URL="http://localhost:3000"
REFRESH_COOKIE_NAME="standsync_rt"
COOKIE_SECURE=false
GMAIL_USER=""
GMAIL_APP_PASSWORD=""
MAIL_FROM=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:3000/api/v1/auth/google/callback"
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_CALLBACK_URL="http://localhost:3000/api/v1/auth/github/callback"
OAUTH_SUCCESS_REDIRECT="http://localhost:3001"
